.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  
  font-size: 64px;
  font-weight: 700;
  color: #000;
  line-height:normal;
  background-color: #141414;
  padding: 80px 10px;
  //padding-top: 80px;

}

.play {
  display: flex;
  max-width: 1199px;
  max-height: 410px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 50px;
  background: #cbea5e;
  
}

.change__father {
  display: flex;
  width: 100%;
  max-width: 1199px;
  max-height: 410px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
}

.change {
  display: flex;
  width: 100%;
  max-width: 590px;
  max-height: 410px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  padding-left: 100px;
}

.content_img{
  max-width: 599px;
  max-height: 410px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.content__tekst{
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.content__Font-title {
  color: gray;
  margin: 0;
  //padding-top: 80px;
  font-size: 64px;
  font-weight: 700;

}

.content__Font-text {
  color: #000;
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  
}

.all {
  display: flex;
  max-width: 1199px;
  max-height: 410px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 50px;
  background: #06f;
}

.terminal {
  display: flex;
  width: 100%;
  max-width: 1199px;
  max-height: 410px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
}

.mark {
  display: flex;
  max-width: 590px;
  max-height: 410px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  padding-left: 100px;
}

.mark__terminal {
  display: flex;
  width: 100%;
  max-width: 1199px;
  max-height: 410px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
}

.map__div {
  display: flex;
  background-color: #fff;
  max-width: 1199px;
  height: 410px;
  width: 100%;
  //flex-shrink: 0;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.map_content{
  text-align: center;
}

.content__map_Font-title {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  //padding-left: 150px;
}

.content__map_Font-text {
  color: #fff;
  margin: 0;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}


.Kyrgysztan__video__button{
  position: absolute;
  z-index: -1;
  mask-image: none;
  height: auto;
}



@media (max-width: 1000px){
  .map__div {
    
  }

  

  .content__map_Font-title{
    font-size: 40px;
    padding-left: 0px;

  }

  .content__map_Font-text{
    font-size: 40px;

  }

  .content__Font-title {
    color: gray;
    margin: 0;
    //padding-top: 80px;
    font-size: 40px;
    font-weight: 700;
  
  }  
  .content__Font-text {
    color: #000;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    
  }

  .content_img{
    height: 200px;
  }
}

@media (max-width: 800px){
  .change {  
    max-width: 450px;
  }

  .mark {    
    max-width: 450px;
  
  }

}

@media (max-width: 600px){
  .content_img{
    display: none;
  }

  .change {  
    max-width: 600px;
    border-radius: 20px;
    padding-left: 0px;
  }

  .mark {    
    max-width: 600px;
    border-radius: 20px;
    padding-left: 0px;
  
  }

  .content__Font-title {
    
    font-size: 24px;
   
  }  
  .content__Font-text {
    font-size: 24px;
    
  }

  .container{
    //padding-left: 100px;
    //margin-left: 100px;
    border-radius: 20px;
  }

  .content__tekst{
    padding: 20px 100px;

  }

 


}
